@media screen and (max-width: 960px) {
    #open-menu {
        top: 10px;
        right: 20px;
        font-size: 25px;
    }
    h1 {
        font-size: 25px;
    }
    text {font-size: 31px}
    #map {height:80vh}
}
@media screen and (max-width: 660px) {

  h1 {
      display:none
  }

}
