@media screen and (max-width: 960px) {
  h1 {
      display: none;
  }
    #open-menu {
        top: 0;
        right: 0px;
        font-size: 25px;

    }
    h1 {
        font-size: 25px;
        line-height: 28px
    }
    text {
        font-size: 31px;
    }
    #map {
        height: 80vh;
        margin-top: 24px;
    }


}
@media screen and (max-width: 660px) {


    #territories {
        li {
            padding-bottom: 0px;
          }
        }
}
