* {
    margin: 0;
    padding: 0;
}
$highlight: #54E7A1;
$water: #4DB7C7;
$land: #fff;
$text: #1a1a1a;
body {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAOklEQVQYV2O8+fbNfwYkoCYkzHDr3VtkITCbEVkhTBE2xXCF6JLofLBCXNYhizP+BwJsboI5EqQYBABmuirG1SCi+AAAAABJRU5ErkJggg==");
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}
h1 {
    float: left;
    font-size: 30px;
    color: $text;
    font-weight: normal;
    padding-right: 10px;
    line-height: 32px;
}
// menu
#open-menu {
    position: fixed;
    z-index: 2;
    top: 30px;
    right: 40px;
    font-size: 30px;
    color: $text;
    line-height: 35px;
    padding: 20px 60px 20px 20px ;
    text-align: right;
    transition: color 0.3s ease-out;
    border: 3px solid transparent;
    &:focus #arrow,
    &:hover #arrow {
        fill: blue;
    }
    &:focus #territories li,
    &:hover #territories li {
        border-bottom: 3px solid blue;
    }
    &:focus,
    &:hover {
        color: blue;
    }

    #territories {
        float: right;
        list-style-type: none;
        position: relative;
        li {
            display: none;
            width: 100%;
            padding-bottom: 1px;
            transition: border 0.3s ease-out;
            border-bottom: 3px solid $highlight;
        }
    }
    #arrow {
        transition: fill 0.3s ease-out;
        fill: $text;
        position: absolute;
        right: 20px;
        top: 26px;
        animation: 2s 3 bounce;
    }
}
@-webkit-keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-15px);
    }
}
#br:target {
    #br-a {
        display: block;
    }
}
#bi:target {
    #bi-a {
        display: block;
    }
}
#uk:target {
    #uk-a {
        display: block;
    }
}
#gb:target {
    #gb-a {
        display: block;
    }
}
#menu {
    list-style: none;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(244, 240, 240, 0.8);
    position: absolute;
    li a {
        transition: color 0.2s ease-out;
        text-decoration: none;
        color: $text;
        display: block;
        padding: 15px 30px;
        text-align: center;
        font-size: 35px;
        border: 2px solid rgba(244, 240, 240, 0.8);
        &:hover {
            color: blue;
        }
        &:focus {
            color: blue;
            border: 2px solid blue;
        }
    }
    ul {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        list-style-type: none;
    }
    ul ul {
        display: none;
    }
}
#menu:target {
    display: block;
}
#england:target {
    #en {
        fill: $highlight;
        animation: draw 1.5s ease-in-out forwards;
    }
    #en-a {
        display: block;
    }
}
//map
text {
    font-size: 18px;
    fill: $text;
    font-family: monospace;
    font-weight: normal;
}
#map {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 95vh;
    svg {
        height: 100%;
        width: auto;
    }
}
// countries
#ci,
#en,
#im,
#ni,
#ri,
#sc,
#wa {
    fill: $land;
    stroke-width: 2;
    stroke: #4bb884;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1900;
}
#bi:target #ci,
#bi:target #en,
#bi:target #im,
#bi:target #ni,
#bi:target #ri,
#bi:target #sc,
#bi:target #wa {
      transition: fill 1s ease-in-out;
    fill: $highlight;
    animation: draw 1.5s ease-in-out forwards;
}
#uk:target #en,
#uk:target #ni,
#uk:target #sc,
#uk:target #wa {
      transition: fill 1s ease-in-out;
    fill: $highlight;
    animation: draw 1.5s ease-in-out forwards;
}
#gb:target #en,
#gb:target #sc,
#gb:target #wa {
      transition: fill 1s ease-in-out;
    fill: $highlight;
    animation: draw 1.5s ease-in-out forwards;
}
#br:target #en,
#br:target #wa {
      transition: fill 1s ease-in-out;
    fill: $highlight;
    animation: draw 1.5s ease-in-out forwards;
}
@keyframes draw {
    from {
        stroke-dashoffset: 1600;
    }
    to {
        stroke-dashoffset: 0;
    }
}
#br-h,
#gb-h {
    display: none;
}
#br:target #br-h {
    display: block;
}
#en:target #en-h,
#gb:target #gb-h {
    display: block;
}



@keyframes wave {
    to {
        stroke-dashoffset: 0;
    }
}
